html, body {
    width: 100%;
    height: 100%;
    z-index: 3;
}

.navbar {
    z-index: 2;
    position: fixed;
    width: 100%;
}

.nav-link:hover {
    background-color: #1c52678a; 
    border-radius: 20px;
}

.navbar.scrolled {
    background-color: #0505266f;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

.vid-back {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.page {
    position: relative;
    color: white;
    text-align: center;
    padding-top: 30vh; 
    z-index: 1;
    margin-bottom: 200px; 
}

.page h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.page p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.judul-galeri h1 {
    text-align: center;
    padding: 30px; 
    color: black;
    margin-top: 400px;
}

.card {
    margin-top: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 100px;
  
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.fact-card {
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.fact-title {
    color: #007bff;
}

